@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/octicons-css/octicons.min.css");

:root{
  color-scheme: light dark;

}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: black;
}

ul{
  list-style: none;
}

a:link, a:visited, a:active, a:hover{
  text-decoration: none;
}

#main-container{
  display: grid;
  grid-template-columns: auto 4fr minmax(280px, 350px);
  grid-template-rows: auto 1fr 1fr; 
  place-content: center;
  grid-auto-rows: auto;
  min-height: 100vh;

  grid-template-areas: 
    "sidemenu topmenu topmenu"
    "sidemenu projects news"
    "sidemenu projects news"
    "footer footer footer";
}


/* Side Menu */
#sidemenu{
  grid-area: sidemenu;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  background-color: blue;

  display: grid;
  grid: auto 1fr / 1fr;
  place-items: start;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
}

#side-title{
  display: grid;
  place-self: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(1, auto-fit);
  font-size: 1.7rem;
  padding-top: 10px;
}

#side-title > p {
  padding-top: 5px;
  font-family: "Inconsolata";
  font-weight: 700;
}


.menu-items > ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto)); 
  justify-items: center ;
  align-items: center;
}

.menu-items > ul > li{
  width: 65%;
}

.menu-item{
  display: block;
  color: white;
  line-height: 2;
}

/* Top Menu */
#topmenu{
  grid-area: topmenu;
  background-color: green;
 
  display: grid;
  grid-template-columns: 1fr;
}

.top{
  display: grid;
  grid-template-columns: 1fr auto 40px;
  grid-template-rows: 60px;
  justify-items: center;
  align-items: center;
}

.search{
  display: grid;
  justify-self: stretch;
  grid-template-columns: 100px 1fr;
  justify-items: start;
}


input  {
  width: 75%;
  border-radius: 20px;
}

.search > input{
  padding: 0 14px;
}

.search > label{
  justify-self: right;
}

label > .iconify{
  width: 32px;
  height: 32px;
}

.notifications{
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-items: center;
  align-items: center;
}

.notifications > .profile{
  display: grid;
  justify-items: center;
  align-items: center;
}

.notifications > .profile > .username{
  justify-self: center;
  align-self: center;
  line-height: 2;
}


.bottom{
  display: grid;
  grid-template-columns: 80px 1fr auto;
  grid-template-rows: 80px;
  justify-items: space-around;
  align-items: center;
}

.top-menu-avatar{
  justify-self: right;
}

.greeting{
  font-size: 1rem;
  font-weight: 600;
  vertical-align: super;
}

.greeting + .username{
  font-size: 1.8rem;
  padding-bottom: 10px;
}


.top-menu-buttons{
  padding-right: 30px;
  align-self: center;
}

/* Projects */
#projects{
  grid-area: projects;
  background-color: rgb(28, 26, 23);

  display: grid;
  grid: 50px auto / 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 20px;
  padding: 0 20px 20px;
}

.project-card{
  display: grid;

  border-radius: 10px;
  background-color: #3f4147;
  border-left: 10px solid orange;
  color: burlywood;padding: 10px;
  box-shadow: -1px 1px 8px 1px rgba(144,138,136, 0.8);
}

.project-title{
  display: grid;
  grid-template-columns: 1fr auto;
}

.project-name{
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-all;
}

.project-description{
  font-size: 1rem;
  padding-bottom: 20px;
}

.project-info-icons{
  justify-self: right;
  align-self: end;
}

/* News */
#news{
  grid-area: news;
  background-color: orange;
}

/* Footer */
#footer{
  grid-area: footer;
  background-color: cadetblue;

  display: grid;
  place-items: center;
  padding: 20px 0;
}


/* Utilities */

.iconify{
  color: burlywood;
  font-size: 1.5rem;
  vertical-align: -0.35em !important;
  margin-right: 8px;
}

.lg{
  font-size: 2.5rem;
  vertical-align: -1.50rem !important;
}

.avatar, .avatar-md, .avatar-lg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0, 0.2);
  margin: 0 10px;
}

.avatar-md{
  width: 32px;
  height: 32px;
  vertical-align: top;
}

.avatar-lg{
  width: 42px;
  height: 42px;
  vertical-align: top;
}

.button{
  background-color: rgba(102, 98, 96, 1);
  border-radius: 6px;
  padding: 4px 10px;
  /* margin: 0 10px ; */
  color: white;
  border: 1px solid rgba(32, 30, 29, 1);
  box-shadow: 1px 1px 10px 4px rgba(224,223,222, 0.28);
  margin: 0 5px;
}

.button:hover{
  border-color: rgba(221,138,96, 1);
  background-color: rgba(36,36,37, 1);
  /* color: rgba(221,138,96, 1); */
}

.section-title{
  grid-column: 1/-1;
  font-size: 1.5rem;
  color: #c5bc0e;
  align-self: center;
  padding-top: 10px;
  padding-left: 10px;
}